{% extends "base.html" %}

{% block content %}
    <h1>RFP Factory</h1>
    <p>The RFP Factory generates RFP Stores.</p>
    <p>An RFP Store looks like this:</p>
    <table>
        <tr><td>Section</td><td>Question</td><td>Response</td></tr>
        <tr><td>Section</td><td>Question</td><td>Response</td></tr>
        <tr><td>Section</td><td>Question</td><td>Response</td></tr>
        <tr><td>Section</td><td>Question</td><td>Response</td></tr>
        <tr><td>Section</td><td>Question</td><td>Response</td></tr>
        <tr><td>Section</td><td>Question</td><td>Response</td></tr>
        <tr><td>Section</td><td>Question</td><td>Response</td></tr>
        <tr><td>Section</td><td>Question</td><td>Response</td></tr>
        <tr><td>Section</td><td>Question</td><td>Response</td></tr>
        <tr><td>Section</td><td>Question</td><td>Response</td></tr>
        <tr><td>Section</td><td>Question</td><td>Response</td></tr>
        <tr><td>Section</td><td>Question</td><td>Response</td></tr>
    </table>
    <form method=post enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
{% endblock %}
